:javascript
  $(function () {
    window.Splashboards = new SplashboardController({
      userID: #{current_user.id},
      selectedTab: #{@selected_tab.to_i}
    }).render();
  });

.splashboard
  = render "shared/sidebar", :omit_splashboards => true
  #stream-wrap.left.tabs
    #stream-feed
      .streamfeed-top
        .main-panel
          %label
            Splashboard
        .feed-settings-tabs
          .avan-bold
            %ul
              %li
                %a{:href => "#tab-my-top-tracks"} My Splashboard
              %li
                %a{:href => "#tab-top-tracks"} Most Splashed
              %li
                %a{:href => "#tab-top-users"} Top Splashers
          .line
            %span
      =# render "shared/feed_filter"
      #tab-top-tracks
        .loading-spinner-container
      #tab-top-users
        .loading-spinner-container
      #tab-my-top-tracks
        .loading-spinner-container
    .cl &nbsp;
