:javascript
  $(function () {
    var topTracks = new Splashboard.Items({
      template: '#tmpl-event-splash',
      feed: new TrackList,
      app: window.App,
      extraClass: 'live-feed',
      numFlipper: true,
    })
    $('#tab-top-tracks').prepend(topTracks.el)
    var topTracksScroll = new EndlessScroll({
      data: topTracks,
      spinnerContainer: $('#tab-top-tracks .loading-spinner-container'),
      noMoreResults: $('<p/>').
        text(I18n.t('splashboards.all_loaded')).
        addClass('loaded'),
    });

    var myTopTracks = new Splashboard.Items({
      template: '#tmpl-event-splash',
      feed: new TrackList,
      app: window.App,
      filters: {user_id: #{current_user.id}},
      extraClass: 'live-feed',
      numFlipper: true,
    })
    $('#tab-my-top-tracks').prepend(myTopTracks.el)
    var myTopTracksScroll = new EndlessScroll({
      data: myTopTracks,
      spinnerContainer: $('#tab-my-top-tracks .loading-spinner-container'),
      noMoreResults: $('<p/>').
        text(I18n.t('splashboards.all_loaded')).
        addClass('loaded'),
    });

    var topUsers = new Splashboard.Items({
      template: '#tmpl-user',
      feed: new UserList,
      app: window.App,
      extraClass: 'live-feed',
      waterNums: true,
    })
    $('#tab-top-users').prepend(topUsers.el)
    var topUsersScroll = new EndlessScroll({
      data: topUsers,
      spinnerContainer: $('#tab-top-users .loading-spinner-container'),
      noMoreResults: $('<p/>').
        text(I18n.t('splashboards.all_loaded')).
        addClass('loaded'),
    });

    $('.splashboard .tabs').tabs('select', #{@selected_tab.to_i})
  });

.splashboard
  = render "shared/sidebar", :omit_splashboards => true
  #stream-wrap.left.tabs
    #stream-feed
      .streamfeed-top
        .main-panel
          %label.avan-demi
            Splashboard
        .feed-settings-tabs
          .avan-bold
            %ul
              %li
                %a{:href => "#tab-my-top-tracks"} My Splashboard
              %li
                %a{:href => "#tab-top-tracks"} Most Splashed
              %li
                %a{:href => "#tab-top-users"} Top Splashers
          .line
            %span
      =# render "shared/feed_filter"
      #tab-top-tracks
        .loading-spinner-container
      #tab-top-users
        .loading-spinner-container
      #tab-my-top-tracks
        .loading-spinner-container
    .cl &nbsp;

