%script#tmpl-event-splash-comment{:type => 'text/x-jquery-tmpl'}
  %li
    = avatar_js('author', :class => 'avatar left', :size => :pico)
    .entry.left
      %p
        %a.avan-demi{:href => "${author.url}"} ${author.nickname}
        {{html UserMentions.linkMentions(body)}}
      %span.time ${created_at}
