%script#tmpl-event-splash-comment{:type => 'text/x-jquery-tmpl'}
  %li
    %a.avatar.left{:href => "${author.url}"}
      %img{:alt => "", :height => "34", :src => "${author.avatar_micro_url}", :width => "34"}/
    .entry.left
      %p
        %a.avan-demi{:href => "${author.url}"} ${author.nickname}
        {{html UserMentions.linkMentions(body)}}
      %span.time ${created_at}
