%script#tmpl-event-splash-comment{:type => 'text/x-jquery-tmpl'}
  %li
    = avatar_js('author', :class => 'avatar left', :size => :pico)
    .comment-entry.left
      %p
        %a.avan-demi.author-name{:href => "${author.url}"} ${author.nickname}
        %span.inner-comment-text
          {{html UserMentions.linkMentions(body)}}
      %span.time ${created_at}
