log/*
test/*
config/database.yml
config/config.yml
public/system/*
public/stylesheets/*.css
public/assets/
tmp/
*#
.sass-cache/
public/*/active_scaffold/
public/blank.html
/.bundle/config
/TAGS
/public/javascripts/locales.js
/public/javascripts/routes.js
/.flux.local
/public/javascripts/routes.js
.DS_Store
/config/initializers/developer.rb
dump.rdb
/config/access_codes.yml
/app/assets/javascripts/routes.js
