log/*
test/*
config/database.yml
config/config.yml
public/system/*
public/stylesheets/*.css
public/assets/
tmp/
*#
.sass-cache/
public/*/active_scaffold/
public/blank.html
/.bundle/config
/TAGS
/public/javascripts/locales.js
