%script#tmpl-track-search-all-results-table-row{:type => 'text/x-jquery-tmpl'}
  %td.rank ${rank}
  %td ${title}
  %td ${performers}
  %td.actions
    %a.splash-toggle{:href => "#", :data => {:widget => 'toggle-splash'}}
