%script#tmpl-track-summary{:type => 'text/x-jquery-tmpl'}
  %li{:data => {:track_id => '${id}'}}
    .wrap
      %a.btn.right{:href => "#"}
      %strong.count.avan-bold.left ${splash_count}
      %p ${title}
