:javascript
  $(function () {
    var topTracks = new Splashboard.Items({
      template: '#tmpl-event-splash',
      feed: new TrackList,
      app: window.App,
      extraClass: 'live-feed'
    })
    $('#tab-top-tracks').html(topTracks.el)

    var myTopTracks = new Splashboard.Items({
      template: '#tmpl-event-splash',
      feed: new TrackList,
      app: window.App,
      filters: {user_id: #{current_user.id}},
      extraClass: 'live-feed'
    })
    $('#tab-my-top-tracks').html(myTopTracks.el)

    var topUsers = new Splashboard.Items({
      template: '#tmpl-user',
      feed: new UserList,
      app: window.App,
      extraClass: 'live-feed'
    })
    $('#tab-top-users').html(topUsers.el)
  });

.splashboard
  = render "home/sidebar"
  #stream-wrap.left.tabs
    #stream-feed
      .streamfeed-top
        .main-panel
          %label.avan-demi
            Splashboard
        .feed-settings-tabs
          .avan-bold
            %ul
              %li
                %a{:href => "#tab-my-top-tracks"} My Splashboard
              %li
                %a{:href => "#tab-top-tracks"} Most Splashed
              %li
                %a{:href => "#tab-top-users"} Top Splashers
          .line
            %span
      =# render "shared/feed_filter"
      #tab-top-tracks
      #tab-top-users
      #tab-my-top-tracks
      .loading-spinner
    .cl &nbsp;

