:javascript
  $(function () {
    window.App.Page = new Splashboard({
      app:    window.App
    });
    window.App.Page.fetch();
  });

.splashboard
  = render "home/sidebar"
  #stream-wrap.left.tabs
    #stream-feed
      .streamfeed-top
        .main-panel
          %label
            Splashboard
        .feed-settings
          .avan-bold
            %ul
              %li
                %a{:href => "#tab-most-splashed"} Most Splashed
              %li
                %a{:href => "#tab-splashers"} Splashers
          .line
            %span
      =# render "shared/feed_filter"
      #tab-most-splashed
        %ul.live-feed{:data => {:widget => 'top-tracks'}}
        %p= link_to_next_page @tracks, t('pagination.more')
      #tab-splashers
        %ul.live-feed{:data => {:widget => 'top-users'}}
      .loading-spinner
    .cl &nbsp;

