%p
  Thanks for requesting an invite for Private Beta. We're pumped for everyone
  to start Splashing. Look out for an email from us with your invite--it
  shouldn't be too long.

%p
  Want to get in sooner? Share Splash.FM with friends via Facebook, Twitter or
  email. Use your unique referral code

%p
  %strong= @code

%p
  so that we can track your friends that request invites and move you up on the
  list.

%p
  \-The Splash Team
  %br/
  @splash.fm