%p
  = link_to(@notification.notifier.name, |
            user_slug_url(@notification.notifier.slug))
  is now following you on
  = link_to('Splash.FM', root_url) << "."

%p
  View
  = link_to(@notification.notifier.name + "'s profile", |
            user_slug_url(@notification.notifier.slug))