%p
  Here's your exclusive invite to the Splash.FM Private Beta.
  Click the link below to create an account. Follow friends, artists and
  tastemakers to stay on top of what they are splashing, and Splash your
  favorites to prove your taste to the Crowd. It's simply social discovery for
  music... Jump in!

%p= link_to 'Splash.FM Invite', raw(@url)

%p
  \-The Splash Team
  %br/
  @splashfm