%p Hey!

%p= "Seems like you have good taste in music. #{@inviter_name} wants you to join Splash.FM so that you can discover and share music together."

%p= link_to 'Jump In!', @url

%p
  \-The Splash Team
  %br/
  @splashfm
