%p Hey!

%p="Seems like you have good taste in music. #{@inviter_name} has sent you one of his four invites to the Splash.FM Private Beta. Use this link to Jump In:"

%p= link_to 'Splash.FM Invite', raw(@url)

%p
  \-The Splash Team
  %br/
  @splashfm
