%li
  %a.avatar.left{:href => "#"}
    %img{:alt => "", :height => "34", :src => "/css/images/avatar-34x34.png", :width => "34"}/
  .entry.left
    %p
      %a.avan-demi{:href => "#"} DinoBot467
      Wow what a throwback jam! I had to be in like...fifth grade. Great Splash.
    %span.time October 24 at 10:04pm
