%li
  %a.avatar.left{:href => "#"}
    %img{:alt => "", :height => "34", :src => "/css/images/avatar-34x34.png", :width => "34"}/
  .entry.left
    %p
      %a.avan-demi{:href => "#"} ${$value.author_name}
      ${$value.body}
    %span.time ${$value.created_at_dist}
