= semantic_form_for @visitor, :as => :visitor, :url => visitor_path do |f|
  %p Sign up to be notified when we go live and you may even be invited to our private launch.

  = f.input :email
  = f.submit 'Sign up!'
