:javascript
  $(function () {
    window.Friends = new FriendsView({
      el: $('body').get(0),
      friends: new FriendsList(#{@users.to_json})
    }).render();
  });

.invite_friends
  #stream-wrap.left
    #stream-feed
      .streamfeed-top
        .container
          .main-search
            %label.avan-demi{ :style => 'display: block' }
              Find Your Friends
            .wrap
              .search
                %input.field{:autocomplete => "off", :name => "f", :placeholder => "Search For Friends", :type => "text"}/
          .line
      %ul.splashboard-items-live-feed.live-feed
        %li
          %div{"data-user_id" => "72"}
            .holder
              .left
                %span.number.avan-bold.invite.left
                  .outer
                    22
                    .inner 22
                .user_wrap.left
                  %a.avatar.left{:href => "/lizzy_rubin"}
                    %img{:src => "http://s3.amazonaws.com/splash.fm-dev/users/avatars/72/micro?1325636186", :title => "lizzy_rubin"}
                  .names.left
                    %a.avan-demi.user-name.left{:href => "/lizzy_rubin"} Lizzy Rubin
                    %span.left.nickname lizzy_rubin
                  .sub
                    .splashes.left
                      Splashes
                      .num.avan-demi 417
                    .ripples.left
                      Ripples
                      .num.avan-demi 775
                    .clear
              .right
                .follow-links
                  .buttonStyle2.follow
                    %span
                    Follow
                  .clear
        %li.hide
          %div{"data-user_id" => "72"}
            .holder
              .left
                %span.number.avan-bold.invite.left
                  %img{ :src => '/images/facebook_64.png' }
                .user_wrap.left
                  %a.avatar.left{:href => "/lizzy_rubin"}
                    %img{:src => "http://s3.amazonaws.com/splash.fm-dev/users/avatars/72/micro?1325636186", :title => "lizzy_rubin"}
                  .names.left
                    %a.avan-demi.user-name.left{:href => "/lizzy_rubin"} Lizzy Rubin
              .right
                .follow-links
                  .buttonStyle2.follow
                    %span
                    Invite To Splash.FM
                  .clear
          %li
            %div{"data-user_id" => "72"}
              .holder
                .left
                  %span.number.avan-bold.invite.left
                    %img{ :src => '/images/twitter_64.png' }
                  .user_wrap.left
                    %a.avatar.left{:href => "/lizzy_rubin"}
                      %img{:src => "http://s3.amazonaws.com/splash.fm-dev/users/avatars/72/micro?1325636186", :title => "lizzy_rubin"}
                    .names.left
                      %a.avan-demi.user-name.left{:href => "/lizzy_rubin"} Lizzy Rubin
                .right
                  .follow-links
                    .buttonStyle2.invited
                      %span
                      Invited
                    .clear

  =render "shared/sidebar"