:javascript
  $(function () {
    window.Friends = new FriendsView({
      appID: "#{AppConfig.facebook['key']}",
      el: $('body').get(0),
      friends: new FriendsList(#{@users.to_json}),
      social: #{@social.to_json}
    }).render();
  });

.invite_friends
  #stream-wrap.left
    #stream-feed
      .streamfeed-top
        .container
          .main-search{:data => {:widget => 'friend-search'}}
            %label.avan-demi{ :style => 'display: block' }
              = t('friends.header')
            .wrap
              .search
                %input.field{:autocomplete => "off", :name => "f", :placeholder => "Search For Friends", :type => "text"}/
          .line
      %ul.splashboard-items-live-feed.live-feed
      .loading-spinner-container

  =render "shared/sidebar"

#fb-root
