.following-container
  - users.each do |user|
    .followed-box
      .avatar
        = link_to (image_tag user.avatar(:micro)), user_slug_path(user)
      .link.avan-demi
        = link_to user.name, user_slug_path(user)
      .clear
.clear