.following-container
  - users.each do |user|
    .followed-box
      .avatar
        = link_to (image_tag user.avatar(:thumb), :size => "32x32"), user_path(user)
      .link
        = link_to user.name, user_path(user)
