/* UNIVERSAL

.round_corners
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-border-radius: 4px

.clearboth
  font-size: 0
  line-height: 0
  height: 0
  display: block
  clear: both

.hide
  display: none

#fancybox-close:hover
  background-color: transparent

.hide
  display: none

a, a:visited
  text-decoration: none
  color: #2C84DB

a:hover
  text-decoration: underline

#by_line
  color: gray
  font-size: 75%
  text-align: center

/* layout:

body
  margin: auto
  /* center in viewport
  width: 960px
  font: 13px / 1.231 arial, helvetica, clean, sans-serif

#header, #footer
  margin: 20px
  clear: both

#auth_controls
  font-size: 85%
  text-align: right

.yui3-g
  letter-spacing: 0
  word-spacing: 0

/*** Admin Bar ***/
.admin
  background: #333
  border-top: 2px solid #777
  border-top: 2px solid rgba(255,255,255,.3)
  border-right: 2px solid rgba(255,255,255,.3)
  background: rgba(0,0,0,.7)
  position: fixed
  left: 0
  bottom: 0
  color: #fff
  z-index: 1000
  padding: .5em
  float: left
  width: 100%
  margin: 0
  ul
    margin: 0 auto
    display: block
  li
    display: inline
    a
      padding: 0 1em
      font-weight: bold
      color: #fff
      text-shadow: 1px 1px 0 rgba(0,0,0,0.4)

/* visitors:

form.visitor p
  margin: 10px 0px

form.visitor label
  margin-right: 10px

form.visitor li#visitor_email_input, form.visitor .inline-errors
  display: inline-block

form.visitor .inline-errors
  color: #d12f19

/* profile:
.upload-avatar-link
  margin-top: -18px

@mixin basic-element-style($border)
  border: #d7d7d7 #{$border}px solid
  padding: 2px

@mixin basic-left-style()
  float: left
  width: 100px
  display: block
  margin-left: 20px
  margin-right: 8px

.profile
  width: 830px
  float: left
  .box-user-info
    float: left
    width: 266px
    margin: 10px
    .user-image
      @include basic-element-style(1)
      @include basic-left-style()
      position: relative
      height: 134px
    .follow-button
      @include basic-element-style(1)
      @include basic-left-style()
      clear: bottom
      margin-top: 3px
      text-align: center
      height: 18px
    .ripples
      @include basic-element-style(0)
      @include basic-left-style()
      clear: both
      margin-top: 7px
      font-size: 12px
      .label
        float: left
      .number
        float: right
    .influence
      @include basic-left-style()
      clear: both
      font-size: 8px

    .top-number
      height: 16px
    .user-name
      font:
        size: 18px
        weight: bold
      height: 40px
    .rating
      font:
        size: 32px
        weight: bold
      height: 48px
    .tag-line
      margin-left: 135px
      font-size: 10px
      height: 60px
      text-align: justify
    .splashes
      padding: 2px
      margin-top: 11px
      font-size: 12px
      .label
        float: left
      .number
        float: right
    .last-seem
      float: right
      font-size: 8px

  .follow-box
    clear: both
    border: 1px solid #06C
    height: 68px
    margin-left: 30px
    padding: 10px
    width: 225px
    text-align: center
    .followers
      float: left
      width: 110px
      height: 58px
      .text
        clear: both
    .following
      float: right
      width: 110px
      height: 58px
      .text
        clear: both
    .see-all-button
      clear: both
      width: 220px
      font-size: 10px
      margin-bottom: 1px


/* avatar
.avatar
  h2
    padding: 2px
    margin-top: 5px
    margin-left: 10px
  .image
    padding: 2px
    margin: 5px 15px 0px 15px

.following-container
  border: 1px solid #06C
  width: 800px
  height: 300px
  margin-left: 20px
  .followed-box
    float: left
    margin: 10px
    text-align: center
    .avatar
      border: #d7d7d7 1px solid
      padding: 2px
    .link
      clear: both

.icons
  float: right
  margin-right: 300px
  width: 200px
  .notifications
    .content
      display: none
      .unread
        color: red
    .count
      height: 34px
      width: 30px
      text-align: center
      background-color: white
      position: relative
      border: solid 1px #000
      span
        position: relative
        top: 10px
