/* UNIVERSAL

.round_corners
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-border-radius: 4px

.clearboth
  font-size: 0
  line-height: 0
  height: 0
  display: block
  clear: both

.hide
  display: none

#fancybox-close:hover
  background-color: transparent

.hide
  display: none

a, a:visited
  text-decoration: none
  color: #2C84DB

a:hover
  text-decoration: underline

#by_line
  color: gray
  font-size: 75%
  text-align: center

/* layout:

body
  margin: auto
  /* center in viewport
  width: 960px
  font: 13px / 1.231 arial, helvetica, clean, sans-serif

#header, #footer
  margin: 20px

#auth_controls
  font-size: 85%
  text-align: right

.yui3-g
  letter-spacing: 0
  word-spacing: 0

/*** Admin Bar ***/
.admin
  background: #333
  border-top: 2px solid #777
  border-top: 2px solid rgba(255,255,255,.3)
  border-right: 2px solid rgba(255,255,255,.3)
  background: rgba(0,0,0,.7)
  position: fixed
  left: 0
  bottom: 0
  color: #fff
  z-index: 1000
  padding: .5em
  float: left
  width: 100%
  margin: 0
  ul
    margin: 0 auto
    display: block
  li
    display: inline
    a
      padding: 0 1em
      font-weight: bold
      color: #fff
      text-shadow: 1px 1px 0 rgba(0,0,0,0.4)

/* visitors:

form.visitor p
  margin: 10px 0px

form.visitor label
  margin-right: 10px

form.visitor li#visitor_email_input, form.visitor .inline-errors
  display: inline-block

form.visitor .inline-errors
  color: #d12f19

/* profile:
@mixin basic-element-style($border)
  border: #d7d7d7 #{$border}px solid
  padding: 2px

@mixin basic-left-style()
  float: left
  width: 125px
  display: block
  margin-left: 20px
  margin-right: 10px

.profile
  width: 830px
  float: left
  .box-user-info
    float: left
    width: 300px
    margin: 10px
    .user-image
      @include basic-element-style(1)
      @include basic-left-style()
      height: 134px
    .follow-button
      @include basic-element-style(1)
      @include basic-left-style()
      width: 125px
      margin-top: 7px
      text-align: center
      height: 18px
    .ripples
      @include basic-element-style(0)
      @include basic-left-style()
      width: 126px
      margin-top: 7px
      font-size: 12px
      .label
        float: left
      .number
        float: right
    .influence
      @include basic-left-style()
      clear: both
      font-size: 8px

    .top-number
      height: 16px
    .user-name
      font:
        size: 18px
        weight: bold
      height: 40px
    .rating
      font:
        size: 32px
        weight: bold
      height: 48px
    .tag-line
      margin-left: 156px
      width: 150
      font-size: 10px
      height: 60px
      text-align: justify
      form
        float: right
        width: 140
        margin-left: 156px
        margin-top: -70px

    .splashes
      padding: 2px
      margin-top: 14px
      font-size: 12px
      .label
        float: left
      .number
        float: right
    .last-seem
      float: right
      font-size: 8px
