/* FLASH*/

#flash_error, #flash_notice {
  display: block;
  clear: both;
  list-style: none;
  margin: 10px auto 10px auto;
  padding: 10px 4px 10px 44px; }

#flash_error {
  background: #fbe3e4 url(/images/stop.png) no-repeat 14px center;
  color: #D12F19;
  border: 1px solid #FBC2C4; }

#flash_notice {
  background: #e6efc2 url(/images/go.png) no-repeat 10px center;
  color: #529214;
  border: 1px solid #C6D880; }
