.round_corners {
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px; }

.clearboth {
  font-size: 0;
  line-height: 0;
  height: 0;
  display: block;
  clear: both; }

a:hover {
  background-color: #FFFFE0;
  color: black; }

#fancybox-close:hover {
  background-color: transparent; }

/* layout: */

body {
  margin: auto;
  /* center in viewport */
  width: 960px;
  font: 13px/1.231 arial,helvetica,clean,sans-serif; }

#header, #footer {
  margin: 20px; }

#auth_controls {
  font-size: 85%;
  text-align: right; }

.yui3-g {
  letter-spacing: 0;
  word-spacing: 0;
}
