#image-attrs.hide{:"data-large-width" => current_user.avatar_geometry(:large).try('width'), |
               :"data-large-height" => current_user.avatar_geometry(:large).try('height'), |
               :"data-original-width" => current_user.avatar_geometry(:original).try('width') }

= form_for current_user, :remote => true, :id => 'crop_form' do |form|
  - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
    = form.hidden_field attribute, :id => attribute

  %p
    = form.submit t('.crop')

= link_to t('.cancel'), root_url(), :'data-widget' => 'crop-cancel'
