.follow-box
  .followers
    = render :partial => 'follow_sample', :locals => {:type => 'followers'}
  .following
    = render :partial => 'follow_sample', :locals => {:type => 'following'}
  .see-all-button
    see all
