- if current_user.following?(user)
  - method, verb = :delete, 'unfollow'
- else
  - method, verb = :post, 'follow'

.follow-container
  .inner
    .left.following-button
      %a.buttonStyle2.following{:href  => relationship_path(user), |
                                :data  => {:remote => true, :method => method}, |
                                :class => "buttonStyle2 following #{verb}"}
        %span
        = t(verb, :scope => 'users.show')
    .left.following-text
      = t("#{verb}_detail", :scope => 'users.show')
    .clear
    .top_tip
