.user-follows-count
  %span.shadow
  %span.count
    %strong.avan-demi
      = link_to_relationship(user.followers.count, 'followers')
  %span.count
    %strong.avan-demi
      = link_to_relationship(user.following.count, 'following')
  %span.corner
