#side-bar-wrap.left
  #side-bar
    = render :partial => "users/vcard", :locals => {:user => @user}

    .contact-sep-shadow
    = render 'users/points_container', :user => @user
    = render :partial => "follows", :locals => {:user => @user}
    = render "shared/footer"