%li
  .wrap
    %a.avatar.left{:href => "#"}
      %img{:alt => "", :height => "45", :src => user.avatar.url, :width => "45"}/
    .info.left
      %p.names
        = link_to user.name, user_slug_path(user), :class => 'avan-bold'
        %small= user.name
      %p.scores.avan-bold= user.splash_score
    %a.delete{:href => "#"}
    = follow_suggested_user(user)
