%script#tmpl-suggested-splasher{:type => 'text/x-jquery-tmpl'}
  .wrap
    = avatar_js(:class => 'avatar left')
    .info.left
      %p.names
        = link_to '${name}', '${url}', :class => 'avan-bold'
        %small ${nickname}
      %p.scores.avan-bold ${splash_score}

    %a.delete{:href => '#', :data => {:widget => 'delete-suggested-user'}}
