%script#tmpl-user-summary{:type => 'text/x-jquery-tmpl'}
  %div{:data => {:user_id => '${id}'}}
    .wrap
      %a.right.avan-bold.suggested_follow_link{:href => "#"}
        follow
      %a{:href => '${url}'}
        %strong.count.avan-bold.left.splash-score ${score}
        %p.name ${name}
