%script#tmpl-user{:type => 'text/x-jquery-tmpl'}
  %li{:data => {:user_id => '${id}'}}
    .holder
      .splash-score ${score}
      .avatar
        %img{:alt => "", :height => "42", :src => "${avatar_search}", :width => "42"}/
      .name ${name}
      .ripples Ripples ${ripple_count}
      .splashes Splashes ${splash_count}
      .follow-links
