/ ADD .following .follow .unfollow to .buttonStyle2 with an inner span to display the icon
%script#tmpl-user{:type => 'text/x-jquery-tmpl'}
  %div{:data => {:user_id => '${id}'}}
    .holder
      .left
        .splash-score.left ${score}
        .user_wrap.left
          .avatar.left
            %img{:alt => "", :height => "42", :src => "${avatar_search}", :width => "42"}/
          .left
            .names
              %a.avan-demi.user-name.left{:href => "${url}"} ${name}
              %span.left.nickname ${nickname}
            .sub
              .ripples.left
                Ripples
                .num.avan-demi ${ripple_count}
              .splashes.left
                Splashes
                .num.avan-demi ${splash_count}
              .clear
      .right
        .follow-links
          .buttonStyle2.follow
            %span
            Follow
      .clear
