/ ADD .following .follow .unfollow to .buttonStyle2 with an inner span to display the icon
%script#tmpl-user{:type => 'text/x-jquery-tmpl'}
  %div{:data => {:user_id => '${id}'}}
    .holder
      .left
        {{if $data.unregistered}}
        %span.number.avan-bold.invite.left
          %img{:src => '/images/${origin}_64.png'}
        {{else}}
        .splash-score.left ${score}
        {{/if}}
        .user_wrap.left
          = avatar_js(:class => 'avatar left')
          .left
            .names
              %a.avan-demi.user-name.left{:href => "${url}"} ${name}
              %span.left.nickname ${nickname}
      .right
        .follow-links
      .clear
