.feed-settings-tabs
  .avan-bold
    %ul{:data => {:widget => 'filter-following'}}
      %li.ui-tabs-selected
        %a.active{:href => "#following"} Following
      %li
        %a{:href => "#everyone"} Everyone
  .line
    %span
