.main-search{:data => {:widget => 'track-search'}}
  %label
    %em.georgia-italic= t('.search_for_song')
  .wrap
    / This is an example of the selected state of a track in the search form.
    .trackToSplash{:style => "display:none"}
      .inner
        .left
          .art.left
            %img{:height => '42px', :width => '42px', :src => '/images/no_album_art.png'}
          .info.left
            %span.songname.avan-bold Track 3
            %span.songauthor Artist
        .right
          %a.icon
        .clear
    %input.field{:type => "text", :name => 'f'}/
    .dd{:data => {:widget => 'results'}}
      %span{:data => {:widget => 'empty'}}= t('searches.empty')
      %ul.top_search_results
      %a.load-more{:href => "#", :data => {:widget => 'load-more'}}
        = t('.load_more')
  %a.upload.right{:href => "#", :data => {:widget => 'toggle-upload'}}= t('upload.upload')
  .cl &nbsp;
