.main-search{:data => {:widget => 'track-search'}}
  %label
    %em= t('.search_for_song')
  .wrap
    .trackToSplash
      .inner
        .left
          .art.left
            %img{:height => '42px', :width => '42px', :src => '/images/no_album_art.png'}
          .info.left
            %span{:class => 'songname avan-bold'} Track 3
            %span{:class => 'songauthor'} Artist            
        .right
          %a{:class => 'icon'}
        .clear
    %input.field{:type => "text", :name => 'f'}/
    .dd{:data => {:widget => 'results'}}
      %span{:data => {:widget => 'empty'}}= t('searches.empty')
      %ul{:class => 'top_search_results' }
      %a.load-more{:href => "#", :data => {:widget => 'load-more'}}
        = t('.load_more')
      .uploadForm
        .inner
          .holder
            %input{:class => 'customInputStyle', :type => 'text', :name => 'trackName', :placeholder => 'enter track name'}
          .holder
            %input{:class => 'customInputStyle', :type => 'text', :name => 'ArtistName', :placeholder => 'enter artists name'}
      .commentForm
        .inner
          .avan-demi.label Add a Comment
          %textarea{:class => 'commentArea customInputStyle'}
          .right
            %input{:class => 'submit buttonStyle2', :type => 'submit', :value => 'Comment and Splash'}
          .clear
  %a.upload.right{:href => "#"}= t('.upload')
  .cl &nbsp;