<script id="flashTemplate" type="text/x-jquery-tmpl">
  {{if flash_error_messages}}
    <div id="flash_error" class="flash-msg" style="display:none" class="round_corners"><div class="inner">${flash_error_messages}</div></div>
  {{/if}}

  {{if flash_ok_messages}}
    <div id="flash_notice" class="flash-msg" style="display:none" class="round_corners"><div class="inner">${flash_ok_messages}</div></div>
  {{/if}}
</script>

<% unless @custom_flash_display %>
  <% unless flash_ok_messages.blank? %>
    <div id="flash_notice" class="flash-msg" style="display:none" class="round_corners"><div class="inner"><%= flash_ok_messages -%></div></div>
    <%= javascript_tag "$('#flash_notice').fadeIn();" %>
  <% end %>

  <% unless flash_error_messages.blank? %>
    <div id="flash_error" class="flash-msg" style="display:none" class="round_corners"><div class="inner"><%= flash_error_messages -%>></div></div>
    <%= javascript_tag "$('#flash_error').fadeIn();" %>
  <% end %>
<% end %>

