#footer
  %ul
    %li= link_to "Privacy Policy", privacy_path, :class => 'fancybox-large'
    %li= link_to "Terms of Service", terms_path, :class => 'fancybox-large'
  %p.clear &copy; 2011 Splash.FM LLC