.icons
  .notifications
    .count{:data => {:widget => 'notification-count'}}
      %span
        = new_notifications.count
    .content
      %ul
        - notifications.each do |n|
          %li= n.title
