.icons
  .notifications
    .count{:data => {:widget => 'notification-count'}}
      %span
        = new_notifications.count
    .content
      %ul.notification-list
        = render :partial => 'shared/notification', :collection => notifications
