%span#wrap-pattern
#header
  .shell
    %a.nav-user-settings.right{:href => "#"}
    %a.nav-username.right{:href => "#"}= current_user.try(:name)
    .nav-notifications.right
      %a.avan-demi.count{:href => "#"} 14
      .dropDown
        .arrow
        .label
          .span.avan-demi Notifications
        .item.newFriend
          .left
            %img{:src => 'http://placehold.it/50x50',:class => 'small-pic left'}
            .message.left bob jones did something here blah blah blah blah blah blah
          .right
            .icon.right 
            
          .clear
        .item.reSplash
          .left
            %img{:src => 'http://placehold.it/50x50',:class => 'small-pic left'}
            .message.left bob jones did something here blah blah blah blah blah blah
          .right
            .icon.right   
          .clear
        .item.comment
          .left
            %img{:src => 'http://placehold.it/50x50',:class => 'small-pic left'}
            .message.left bob jones did something here blah blah blah blah blah blah
          .right
            .icon.right
              
          .clear
        .load_more
          .text
            %a{:href => '#', :class => 'avan-demi' } load more
            
    .quick-splash.right{:data => {:widget => 'quick-splash'}}
      %a.trigger{:href => "#", :data => {:widget => 'toggle'}}
      %form{:action => "#", :method => "post", :data => {:widget => 'box'}}
        %span.arrow
        %label.avan-bold Quick Splash
        .wrap
          %input.submit{:type => "submit", :value => "Search"}/
          %input.field{:type => "text"}/
          %ul{:data => {:widget => 'results'}}
    / /quick splash
    %form.head-search.opened.right{:action => "#", |
                                   :method => "post", |
                                   :data   => {:widget => 'global-search'}}
      %input.field{:type => "text"}/
      %input.submit{:type => "submit", :value => "Search"}/
      .dd{:data => {:widget => 'results'}}
        %span.arrow
        .container
          .col.left{:data => {:widget => 'users'}}
            %h4
              %span Splashers
            .scroll-area
              %ul.splashers
          / /colum
          .col.right{:data => {:widget => 'tracks'}}
            %h4
              %span Tracks
            .scroll-area
              %ul.tracks
          / /colum
    / /head search
    = render_navigation
  / /shell
/ /header
