%span#wrap-pattern
#header
  .shell
    %a.nav-user-settings.right{:href => "#"}
    %a.nav-username.right{:href => "#"} John Tim Bobby
    .nav-notifications.right
      %a.avan-demi{:href => "#"} 14
    .quick-splash.right
      %a.trigger{:href => "#"}
      %form{:action => "#", :method => "post"}
        %span.arrow
        %label.avan-bold Quick Splash
        .wrap
          %input.submit{:type => "submit", :value => "Search"}/
          %input.field{:type => "text"}/
          %ul
            %li
              %a{:href => "#"}
                %strong.avan-bold The Road Gets Harder All Th... –
                %span Chemical Brothers
            %li
              %a{:href => "#"}
                %strong.avan-bold The Road Gets Harder All Th... –
                %span Chemical Brothers
            %li
              %a{:href => "#"}
                %strong.avan-bold The Road Gets Harder All Th... –
                %span Chemical Brothers
            %li
              %a{:href => "#"}
                %strong.avan-bold The Road Gets Harder All Th... –
                %span Chemical Brothers
            %li
              %a{:href => "#"}
                %strong.avan-bold The Road Gets Harder All Th... –
                %span Chemical Brothers
    / /quick splash
    %form.head-search.opened.right{:action => "#", :method => "post"}
      %input.field{:type => "text"}/
      %input.submit{:type => "submit", :value => "Search"}/
      .dd
        %span.arrow
        .container
          .col.left
            %h4
              %span Splashers
            .scroll-area
              %ul.splashers
                %li
                  %a.thumb.left{:href => "#"}
                    %img{:alt => "", :height => "50", :src => "css/images/head-search-thumb.png", :width => "50"}/
                  .info.left
                    %a.avan-bold{:href => "#"} EllieBoo
                    %small Tina Mariee
                    %span.avan-bold 10
                %li
                  %a.thumb.left{:href => "#"}
                    %img{:alt => "", :height => "50", :src => "css/images/head-search-thumb.png", :width => "50"}/
                  .info.left
                    %a.avan-bold{:href => "#"} EllieBoo
                    %small Tina Mariee
                    %span.avan-bold 10
                %li
                  %a.thumb.left{:href => "#"}
                    %img{:alt => "", :height => "50", :src => "css/images/head-search-thumb.png", :width => "50"}/
                  .info.left
                    %a.avan-bold{:href => "#"} EllieBoo
                    %small Tina Mariee
                    %span.avan-bold 10
                %li
                  %a.thumb.left{:href => "#"}
                    %img{:alt => "", :height => "50", :src => "css/images/head-search-thumb.png", :width => "50"}/
                  .info.left
                    %a.avan-bold{:href => "#"} EllieBoo
                    %small Tina Mariee
                    %span.avan-bold 10
                %li
                  %a.thumb.left{:href => "#"}
                    %img{:alt => "", :height => "50", :src => "css/images/head-search-thumb.png", :width => "50"}/
                  .info.left
                    %a.avan-bold{:href => "#"} EllieBoo
                    %small Tina Mariee
                    %span.avan-bold 10
                %li
                  %a.thumb.left{:href => "#"}
                    %img{:alt => "", :height => "50", :src => "css/images/head-search-thumb.png", :width => "50"}/
                  .info.left
                    %a.avan-bold{:href => "#"} EllieBoo
                    %small Tina Mariee
                    %span.avan-bold 10
          / /colum
          .col.right
            %h4
              %span Tracks
            .scroll-area
              %ul.tracks
                %li
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li.even
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li.even
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li.even
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li.even
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li.even
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li.even
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
                %li.even
                  %a{:href => "#"}
                    Elliie -
                    %span Elvis Presley
          / /colum
    / /head search
    %ul#navigation.right.avan-demi
      %li.current-page
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} Profile
      %li
        %a{:href => "#"} Splashboard
  / /shell
/ /header
