:javascript
  $(function() {
    window.invitations = new InviteUserView({
      el: $('[data-widget = "invitation"]').get(0),
      remaining_invitations: #{AccessRequest.remaining(current_user)},
    }).render();
  });

%div{:data => {:widget => 'invitation'}}