.invite-friends
  .head.avan-bold
    %p.right
      Invites Remaining:
      %span= AccessRequest.remaining(current_user)
    %p Invite Friends
/ /invite friends
.send-invite
  %form{:action => "#", :method => "post"}
    %input.field.left{:type => "text", :value => "Enter a friend’s email"}/
    %input.submit.left{:type => "submit", :value => "Send Invite"}/
/ /send invite
