%script#tmpl-notification{:type => 'text/x-jquery-tmpl'}
  %div{:data => {:widget => 'notification'}}
    .left
      %img{:src => '${notifier.avatar_micro_url}',:class => 'small-pic left'}
      .message.left ${title}
    .right
      .icon.right

    .clear
