%script#tmpl-notification{:type => 'text/x-jquery-tmpl'}
  %div{:data => {:widget => 'notification'}}
    .left
      = avatar_js('notifier', :class => 'small-pic left')
      .message.left ${title}
    .right
      .icon.right

    .clear
