%script#tmpl-notification{:type => 'text/x-jquery-tmpl'}
  .left
    %img{:src => '${notifier.avatar_thumb_url}',:class => 'small-pic left'}
    .message.left ${title}
  .right
    .icon.right

  .clear