%script#tmpl-player{:type => 'text/x-jquery-tmpl'}
  #player.jp-jplayer{:data => {:widget => 'player'}}
  #player-container.jp-audio{:data => {:widget => 'player-ui'}}
    .container
      %a.jp-play.left{:href => "javascript:;"}
      %a.jp-pause.left{:href => "javascript:;"}
      %span.songtitle.left
        %marquee ${title}
      .progress.left
        .time.current.jp-current-time 1:37
        .time.total.jp-duration 2:10
        .jp-seek-bar
          .jp-play-bar
      %a.splash-btn.left{:href => "#",
                         :onclick => "return false"}
      {{if purchase_url}}
      %a.download-track.left{:href => "${purchase_url}",
                             :data => {:widget => 'purchase'}}
        ${I18n.t('tracks.purchase')}
      {{else download_url}} |
      %a.download-track.left{:href => "${download_url}"} ${I18n.t('tracks.download')}
      {{/if}}
