%label{:for => 'post-to-fb'} Post to Facebook
%input{:type => 'checkbox', :name => 'post_to_fb', :value => 1}
%label{:for => 'post-to-tw'} Post to Twitter
%input{:type => 'checkbox', :name => 'post_to_tw', :value => 1}
