%input.post-to-fb{:type => 'checkbox', :name => 'post_to_fb', :value => 1}
%label.post-to-fb{:for => 'post-to-fb'} Post to Facebook
%input.post-to-tw{:type => 'checkbox', :name => 'post_to_tw', :value => 1}
%label.post-to-tw{:for => 'post-to-tw'} Post to Twitter
