%form.new-splash
  .inner
    = render 'shared/comment_area'
    .right.splash-controls
      = render 'shared/social_splashing'
      %input.submit.splash{:type => 'submit',
                           :value => t('splashes.splash.splash')}
    .clear
