:javascript
  $(function () {
    var trackList = new TrackList;
    var topTracks = new Splashboard.Items({
      template: '#tmpl-track-summary',
      feed: trackList,
    })
    $('#tab-top-tracks-sb').html(topTracks.el)

    var userList = new UserList;
    var topUsers = new Splashboard.Items({
      template: '#tmpl-user-summary',
      feed: userList,
    })
    $('#tab-top-users-sb').html(topUsers.el)

    var viewMore = new Splashboard.ViewMore({
      el:   '.top-splashboards a.viewmore-btn',
      tabs: '.top-splashboards.tabs',
      lists: [trackList, userList],
    });
  });

.top-splashboards.tabs
  .tab-nav
    %ul
      %li
        %a{:href => "#tab-top-tracks-sb"} Most Splashed
      %li
        %a{:href => "#tab-top-users-sb"} Top Splashers
    .line
    %a.toggle{:href => "#"}
  #tab-top-tracks-sb.splashboard-list
  #tab-top-users-sb.splashboard-list
  %a.viewmore-btn{:href => "/tracks/top"} View Splashboard
