:javascript
  $(function () {
    var topTracks = new Splashboard.Items({
      template: '#tmpl-track-summary',
      feed: new TrackList,
    })
    $('#tab-top-tracks-sb').html(topTracks.el)

    var topUsers = new Splashboard.Items({
      template: '#tmpl-user-summary',
      feed: new UserList,
    })
    $('#tab-top-users-sb').html(topUsers.el)
  });

.top-splashboards.tabs
  .tab-nav
    %ul
      %li
        %a{:href => "#tab-top-tracks-sb"} Most Splashed
      %li
        %a{:href => "#tab-top-users-sb"} Top Splashers
    .line
    %a.toggle{:href => "#"}
  #tab-top-tracks-sb.splashboard-list
  #tab-top-users-sb.splashboard-list
  %a.viewmore-btn{:href => "#"} View Splashboard
