%div{:data => {:widget => 'full-splash-action'}}
  .splash-action
    %a.icon.splash-btn{:href => "#", :data => {:widget => 'toggle-splash'}}
    %span Splash!
  - if current_user
    = render 'shared/splash_form'
  - else
    %form
      {{html JST['shared/facebook_required']()}}
