:javascript
  $(function() {
    window.SuggestedSplashers = new SuggestedSplashersView({
      el: $('[data-widget = "suggested-splashers"]')
    })
  });

%ul{:data => {:widget => 'suggested-splashers'}}
  = render :partial => "users/suggested_splasher", :collection => current_user.recommended_users(current_page), :as => :user

= view_more_suggested_users
