%script#tmpl-upload-metadata{:type => 'text/x-jquery-tmpl'}
  .holder
    = render "shared/comment_area"
  %div{:data => {:widget => "metadata"}}
    .holder
      %input{:type => 'text', :name => 'title', :placeholder => 'enter track name'}
    .holder
      %input{:type => 'text', :name => 'performers', :placeholder => 'enter artists name'}
    .holder
      %input{:type => 'text', :name => 'albums', :placeholder => 'enter album name'}
  %div{:data => {:widget => 'complete-upload'}}
    %p.notice Splash nicely! By uploading to Splash.FM, you represent that the content you upload complies with Splash.FM's Terms of Use.    
    .right.splash-controls
      = render 'shared/social_splashing'
      %input{:class => 'submit splash', :type => 'submit'}
