%script#tmpl-upload{:type => 'text/x-jquery-tmpl'}
  %form{:action => undiscovered_tracks_path, :multipart => true}
    %div{:class => 'holder', :style => 'box-shadow: inset 0px 2px 1px #cccccc' }
      %input{:type => 'file', :name => 'local_data', :style => 'border: 0px; width: 90px;' }
