%script#tmpl-upload-metadata{:type => 'text/x-jquery-tmpl'}
  .holder
    = render "shared/comment_area"
  .holder
    %input{:type => 'text', :name => 'trackName', :placeholder => 'enter track name'}
  .holder
    %input{:type => 'text', :name => 'ArtistName', :placeholder => 'enter artists name'}