%script#tmpl-upload{:type => 'text/x-jquery-tmpl'}
  .inner
    .holder
      %input{:type => 'text', :name => 'trackName', :placeholder => 'enter track name'}
    .holder
      %input{:type => 'text', :name => 'ArtistName', :placeholder => 'enter artists name'}