%script#tmpl-upload-metadata{:type => 'text/x-jquery-tmpl'}
  .holder
    = render "shared/comment_area"
  %div{:data => {:widget => "metadata"}}
    .holder
      %input{:type => 'text', :name => 'title', :placeholder => 'enter track name'}
    .holder
      %input{:type => 'text', :name => 'performers', :placeholder => 'enter artists name'}
    .holder
      %input{:type => 'text', :name => 'albums', :placeholder => 'enter album name'}
    .right
      %input{:class => 'submit buttonStyle2', :type => 'submit', :value => 'Upload and Splash'}