%script#tmpl-global-search-user{:type => 'text/x-jquery-tmpl'}
  %li
    %a.thumb.left{:href => "${path}"}
      %img{:alt => "", :height => "50", :src => "${avatar_micro_url}", :width => "50"}/
    .info.left
      %a.avan-bold{:href => "${path}"} ${nickname}
      %small ${name}
      %span.avan-bold ${score}
