%script#tmpl-global-search-user{:type => 'text/x-jquery-tmpl'}
  %li.single_user_result
    = avatar_js(:class => 'thumb left')
    .info.left
      .left.text_result
        %a.avan-bold{:href => "${url}"} ${nickname}
        %small ${name}
      %span.number.avan-bold.right
        .outer
          ${score}
          .inner
            ${score}
      %span.search-follow{:data => {:widget => 'follow'}}
    .clear
