.feed-filter{:data => {:widget => 'events-filter'}}
  .container{:data => {:widget => 'filter'}}
    %input.field{:type => "text", :name => 'q'}/
    = render "filter_popup"
  %a.trigger.close{:href => "#", :data => {:widget => 'toggle'}} Filter Splashes
