.popup{:data => {:widget => 'suggestions'}}
  .wrap
    .scroll-area
      %h4
        %span Popular
      %ul
        %li
          %a{:href => "#"}
            Elton John
            %span (Artist)
      %h4
        %span Genres
      %ul
        %li
          %a{:href => "#"} Electronic/Dance
        %li
          %a{:href => "#"} Electro Pop
        %li
          %a{:href => "#"} Electronica
      %h4
        %span Artists
      %ul
        %li
          %a{:href => "#"} Elvis Presley
        %li
          %a{:href => "#"} Artist Name 2
        %li
          %a{:href => "#"} Artist Name 3
        %li
          %a{:href => "#"} Artist Name 4
        %li
          %a{:href => "#"} Artist Name 5
        %li
          %a{:href => "#"} Artist Name 2
        %li
          %a{:href => "#"} Artist Name 3
        %li
          %a{:href => "#"} Artist Name 4
        %li
          %a{:href => "#"} Artist Name 5
  %span.arrow
/ /popup
