%ul.live-feed
  %li
    %a.art.left{:href => "#"}
      %img{:alt => "", :height => "71", :src => "/css/images/album-art-71x71.png", :width => "71"}/
      %span
    .entry.left
      %p.names
        %a.avan-bold{:href => "#"} Dinobot467
        %span Dan Name
      %p.songname.avan-demi
        %a{:href => "#"} Brooklyn We Go Hard
      %p.songauthor MIA
      %ul.meta
        %li.download
          %a{:href => "#"} Download track
        %li.comment-link
          %span &bull;
          %a{:href => "#"} 5 Comments
        %li.time 1 minute ago
    .cl &nbsp;
    %a.splash-btn{:href => "#"}
    .numbers
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-2.png", :width => "32"}/
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-3.png", :width => "34"}/
  / /row
  %li.expanded
    %a.art.left{:href => "#"}
      %img{:alt => "", :height => "71", :src => "/css/images/album-art-71x71.png", :width => "71"}/
      %span
    .entry.left
      %p.names
        %a.avan-bold{:href => "#"} Dinobot467
        %span Dan Name
      %p.songname.avan-demi
        %a{:href => "#"} Brooklyn We Go Hard
      %p.songauthor MIA
      %ul.meta
        %li.download
          %a{:href => "#"} Download track
        %li.comment-link
          %span &bull;
          %a{:href => "#"} 5 Comments
        %li.time 1 minute ago
    .cl &nbsp;
    %a.splash-btn{:href => "#"}
    .numbers
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-2-blue.png", :width => "32"}/
    .container
      .graph.left
        %img{:alt => "", :height => "178", :src => "/css/images/graph.png", :width => "211"}/
        %a.arrow.arrow-prev{:href => "#"}
        %a.arrow.arrow-next{:href => "#"}
        %span.overlay
        %span.red-arrow
        %span.date Wed, 10/05/11
        %span.count.avan-demi Splashes = 1,623
        %ul.labels.avan-demi
          %li 2k
          %li 1.5k
          %li 1k
          %li .5k
          %li.last 0
      / /graph
      .aside.left
        %a.share-btn.avan-bold.right{:href => "#"} Share
        %a.report-song.right{:href => "#"} Report song
        %p.author
          %em Splashed by
          %a.avan-bold{:href => "#"} NakeMinzer
        .cl &nbsp;
        %span.comments-module-t
        .scroll-area
          %ul
            = render "comment"
            = render "comment"
            = render "comment"
            = render "comment"
      / /aside
      .write-comment
        %form{:action => "#", :method => "post"}
          %input{:type => "text", :value => "Write a comment..."}/
    / /container
  / /row
  %li
    %a.art.left{:href => "#"}
      %img{:alt => "", :height => "71", :src => "/css/images/album-art-71x71.png", :width => "71"}/
      %span
    .entry.left
      %p.names
        %a.avan-bold{:href => "#"} Dinobot467
        %span Dan Name
      %p.songname.avan-demi
        %a{:href => "#"} Brooklyn We Go Hard
      %p.songauthor MIA
      %ul.meta
        %li.download
          %a{:href => "#"} Download track
        %li.comment-link
          %span &bull;
          %a{:href => "#"} 5 Comments
        %li.time 1 minute ago
    .cl &nbsp;
    %a.splash-btn{:href => "#"}
    .numbers
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-2.png", :width => "32"}/
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-3.png", :width => "34"}/
  / /row
  %li.feed-socials
    %ul
      %li
        %img{:alt => "", :height => "31", :src => "/css/images/ico-new-friend.png", :width => "36"}/
        %p
          %a{:href => "#"} John Doe
          is now following
          %a{:href => "#"} Alex Gatoff
          and
          %a{:href => "#"} 5 other Splashers
      %li
        %img{:alt => "", :height => "27", :src => "/css/images/ico-new-comment.png", :width => "36"}/
        %p
          %a{:href => "#"} AGatof11
          commented on
          %a{:href => "#"} Jason Fiedler’s
          splash “Hey Ma by Camron”: HAHA what a throwback”
  / /row
  %li
    %a.art.left{:href => "#"}
      %img{:alt => "", :height => "71", :src => "/css/images/album-art-71x71.png", :width => "71"}/
      %span
    .entry.left
      %p.names
        %a.avan-bold{:href => "#"} Dinobot467
        %span Dan Name
      %p.songname.avan-demi
        %a{:href => "#"} Brooklyn We Go Hard
      %p.songauthor MIA
      %ul.meta
        %li.purchase
          %a{:href => "#"} Purchase track
        %li.comment-link
          %span &bull;
          %a{:href => "#"} 5 Comments
        %li.time 1 minute ago
    .cl &nbsp;
    %a.splash-btn{:href => "#"}
    .numbers
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-2.png", :width => "32"}/
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-3.png", :width => "34"}/
  / /row
  %li
    %a.art.left{:href => "#"}
      %img{:alt => "", :height => "71", :src => "/css/images/album-art-71x71.png", :width => "71"}/
      %span
    .entry.left
      %p.names
        %a.avan-bold{:href => "#"} Dinobot467
        %span Dan Name
      %p.songname.avan-demi
        %a{:href => "#"} Brooklyn We Go Hard
      %p.songauthor MIA
      %ul.meta
        %li.purchase
          %a{:href => "#"} Purchase track
        %li.comment-link
          %span &bull;
          %a{:href => "#"} 5 Comments
        %li.time 1 minute ago
    .cl &nbsp;
    %a.splash-btn{:href => "#"}
    .numbers
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-2.png", :width => "32"}/
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-3.png", :width => "34"}/
  / /row
  %li
    %a.art.left{:href => "#"}
      %img{:alt => "", :height => "71", :src => "/css/images/album-art-71x71.png", :width => "71"}/
      %span
    .entry.left
      %p.names
        %a.avan-bold{:href => "#"} Dinobot467
        %span Dan Name
      %p.songname.avan-demi
        %a{:href => "#"} Brooklyn We Go Hard
      %p.songauthor MIA
      %ul.meta
        %li.purchase
          %a{:href => "#"} Purchase track
        %li.comment-link
          %span &bull;
          %a{:href => "#"} 5 Comments
        %li.time 1 minute ago
    .cl &nbsp;
    %a.splash-btn{:href => "#"}
    .numbers
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-2.png", :width => "32"}/
      %span
        %img{:alt => "", :height => "53", :src => "/css/images/feed-number-3.png", :width => "34"}/
  / /row
