%form.main-search{:action => "#", :method => "post", :data => {:widget => 'track-search'}}
  %label
    %em= t('.search_for_song')
  .wrap
    %input.field{:type => "text", :name => 'f'}/
    .dd{:data => {:widget => 'results'}}
      %ul
      %a.load-more{:href => "#", :data => {:widget => 'load-more'}}
        = t('.load_more')
  %a.upload.right{:href => "#"}= t('.upload')
  .cl &nbsp;
