%form.main-search{:action => "#", :method => "post", :data => {:widget => 'track-search'}}
  %label
    %em Search for a song to Splash
  .wrap
    %input.field{:type => "text"}/
    .dd{:data => {:widget => 'results'}}
      %ul
      %a.load-more{:href => "#", :data => {:widget => 'load-more'}} Load More Results
  %a.upload.right{:href => "#"} Upload
  .cl &nbsp;
