%li
  .holder
    %a.art.left{:href => "#"}
      %img{:alt => "", :height => "42", :src => "css/images/album-art-42x42.png", :width => "42"}/
    .info.left
      %a.songname.avan-bold{:href => "#"} The Road Gets Harder All The...
      %span.songauthor Chemical Brothers
    %a.icon.right{:href => "#"}
