%li
  .wrap
    %a.avatar.left{:href => "#"}
      %img{:alt => "", :height => "45", :src => user.avatar.url, :width => "45"}/
    .info.left
      %p.names
        %a.avan-bold{:href => user_path(user)}= user.name
        %small= user.name
      %p.scores.avan-bold= user.splash_score
    %a.delete{:href => "#"}
    %a.follow.avan-demi{:href => "#"} Follow
