%li
  .wrap
    %a.avatar.left{:href => "#"}
      %img{:alt => "", :height => "45", :src => "/css/images/avatar-45x45.png", :width => "45"}/
    .info.left
      %p.names
        %a.avan-bold{:href => "#"} DinoBot467
        %small Dan Rendine
      %p.scores.avan-bold 10
    %a.delete{:href => "#"}
    %a.follow.avan-demi{:href => "#"} Follow
/ /row
