%script#tmpl-home-track{:type => 'text/x-jquery-tmpl'}
  %div{:class => '{{if splashable}}splashable{{else}}unsplashable{{/if}}', |
       :data => {:track_id => '${id}', :widget => 'track-result'}}
    .holder
      %a.art.left{:href => "${preview_url}", :data => {:widget => 'play'}}
        %img{:alt => "", :height => "71", :src => "${artwork_url}", :width => "71"}/
        %span
      .info.left
        %a.songname.avan-demi{:href => "#"} ${title}
        %span.songauthor ${performers}
        %ul.meta
          %li.download
            {{if purchase_url}}
            %a{:href => "${purchase_url}", :target => '_blank', :'data-skip-pjax' => true} Purchase track
            {{else}}
            %a{:href => "/undiscovered_tracks/${id}/download", :'data-skip-pjax' => true} Download track
            {{/if}}
      = render 'shared/splash_action'