%script#tmpl-home-track{:type => 'text/x-jquery-tmpl'}
  %li{:data => {:track_id => '${id}'}}
    .holder
      %a.art.left{:href => "#"}
        %img{:alt => "", :height => "42", :src => "${artwork_url}", :width => "42"}/
      .info.left
        %a.songname.avan-demi{:href => "#"} ${title}
        %span.songauthor ${performers}
        %ul.meta
          %li.download
            %a{:href => '#'}Download Track
      %div{:data => {:widget => 'full-splash-action'}}
        %a.icon.right.splash-btn{:href => "#"}
        %form.commentForm{:action => '#'}
          .inner
            .avan-demi.label Add a Comment
            %textarea{:class => 'commentArea'}
            .right
              %input{:class => 'submit buttonStyle2', :type => 'submit', :value => 'Comment and Splash'}
            .clear