%script#tmpl-home-track{:type => 'text/x-jquery-tmpl'}
  %li{:data => {:track_id => '${id}'}}
    .holder
      %a.art.left{:href => "#"}
        %img{:alt => "", :height => "42", :src => "${artwork_url}", :width => "42"}/
      .info.left
        %a.songname.avan-demi{:href => "#"} ${title}
        %span.songauthor ${performers}
        %ul.meta
          %li.download
            {{if purchase_url}}
            %a{:href => "${purchase_url}", :target => '_blank', :'data-skip-pjax' => true} Purchase track
            {{else}}
            %a{:href => "undiscovered_tracks/${id}/download", :target => '_blank', :'data-skip-pjax' => true} Download track
            {{/if}}
      %div{:data => {:widget => 'full-splash-action'}}
        %a.icon.right.splash-btn{:href => "#"}
        %form.commentForm{:action => '#'}
          .inner
            = render 'shared/comment_area'
            .right
              %input{:class => 'submit buttonStyle2', :type => 'submit', :value => 'Comment and Splash'}
            .clear
