= render :partial => 'shared/search', :locals => {:type => 'track'}
= render_events(:user             => current_user.id, |
                :follower         => current_user.id, |
                :update_on_splash => true)