:javascript
  $(function () {
    window.Home = new HomeController({
      el: $('body').get(0),
      queryString: $.deparam.querystring(#{request.query_string.inspect}),
      suggestedUsersPerPage: #{User::SUGGESTED_USERS_PER_PAGE},
      tracksPerPage: #{Track.default_per_page},
      userID: #{current_user.id},
    }).render()
  });
