<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/vendor/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/vendor/splashStyles.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<script src="javascripts/jquery-1.4.2.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/javascripts/splashJS.js"></script>

		<title>SPLASH.FM | Coming Soon</title>
	</head>
	<body>
		<div id="wrapper">
		  <div rel="7XDHZA8H" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="www.splash.fm" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
		</div>
	</body>
</html>
