.privacy
  %h1
    SPLASH.FM Privacy Policy

%p
  As used herein, "Website" refers to the website located at 
  = link_to "www.splash.fm", root_url
  , its affiliate sites, subdomains, mobile versions, and any associated applications that are owned and/or operated by Splash.FM, LLC and its affiliates (collectively, “us”, “we” or “Company”). By using the Website, you indicate your acceptance of this Privacy Policy. If you do not agree to this Privacy Policy, you are not permitted to access the Website and you should not do so.

%p
  We reserve the right to change or otherwise update this Privacy Policy at any time. Such changes or updates are effective immediately after we give notice of the change or update, which we may do by revising the “Date of Last Revision” date of this Privacy Policy or by otherwise posting on the Website, or by email or conventional mail, and/or by any other means which provides reasonable notice. Your use of the Website after such notice is posted means that you accept these changes or updates. You agree that Company shall not be liable to you for any damages that might result from any changes to the Privacy Policy, if any.

%p
  We understand and respect your desire for privacy. To that end, we would like you to know how we use the personal information you provide to us.

%p
  We (both directly and through third parties) collect personally identifying information when you register for and use the Website, whether such use and registration is effected by you directly or a third party manager or other individual or entity you may have authorized to undertake such activities.  This personally identifiable information may include, without limitation, your name, zip code, and email address. We may also collect non-personally-identifiable information (such as your IP address or domain, or about your use of the Website) both directly and through third parties, including through the use of Web beacons, for purposes of administration for the Website and to compile aggregate information about usage of the Website. 

%p
  We have implemented appropriate safeguards to help prevent unauthorized access, maintain data security and to make proper use of the information that we collect. However, no transmission of data over the Internet is guaranteed to be completely secure. Thus, while we strive to protect your personal information, we cannot absolutely guarantee the security of any information you provide to us.

%p
  To unsubscribe from any communications from us, follow the “unsubscribe” link at the bottom of the email.  

%h2
  POLICY FOR MINORS

%p
  The Website is intended only for individuals at least eighteen (18) years old, or younger with the express consent of their parents or legal guardians, but in no event younger than thirteen (13) years old. If you do not satisfy this age requirement, you are not permitted to use or enter the Website.

%p
  PARENTS PLEASE READ: We do not permit those under the age of 18 (or older in some jurisdictions, if the age of Majority is older) to participate on or enter the Website without your express consent.

%p
  No information should be submitted to or posted on the Website by any Minor (a user under 18 years of age) without the consent of a parent or guardian. No information should be submitted to or posted on the Website by any person under 13 years of age. Unless otherwise disclosed during collection, we do not knowingly provide any personally identifying information about Minors, regardless of its source, to third parties, nor is this information knowingly used by us for any marketing or promotional purposes. Minors are not allowed to participate in contests or sweepstakes on the Website. If you do not satisfy this age requirement, you are not permitted to use or enter the Website.

%h2
  POLICY FOR ADULT USERS

%p
  We collect personal information from users of the Website in order to provide users with a personalized online experience and to provide our advertisers a way to reach the right audience. We may share the personal and aggregate information we collect with our affiliates and other sites operated by and for us. On a confidential basis, we may also share personal information with our corporate affiliates or consultants, or with third parties that perform a particular service on our behalf (such as general administration purposes for the Website). We may elect to share aggregate information with third parties for advertising, promotional or any other lawful purposes. If all or part of Company is sold, merged or is otherwise transferred to another entity, the information you have provided on or through the Website may be transferred to such entity as part of that transaction. We may also disclose personal information in response to legal process, such as a request by law enforcement, a court order or subpoena, or to protect the integrity of the Website if we believe that a user has committed unlawful or otherwise harmful acts.

%p
  With the permission of users, personal information submitted at the time of registration or submission may be used for marketing and promotional purposes by us.

%h2
  YOUR CALIFORNIA PRIVACY RIGHTS

%p
  A California privacy law that went into effect on January 1, 2005, the "Shine the Light" law, allows California residents to obtain a list of third parties to whom a business has disclosed personal information if it shares such information with third parties for their direct marketing purposes. However, if a business adopts and discloses in its privacy policy a policy of not disclosing customers’ personal information to third parties for their direct marketing purposes unless the customer first affirmatively agrees to the disclosure, the business may comply with the law by notifying the customer of his or her right to prevent disclosure of personal information and by providing a cost-free means to exercise that right.

%p
  As stated earlier in this Privacy Policy, personal information submitted at the time of registration or submission may be used for marketing and promotional purposes only with the user’s permission. Whenever a user agrees to allow us to collect personal information, we provide the user with an option to prevent such information from being shared for marketing and promotional purposes with third parties. Furthermore, you may exercise this cost-free option at any time by clicking on the link below:

%p
  = link_to "opt-out", "#"

%p
  Because the Website have a comprehensive privacy policy and provides you with details on how you may opt-in or opt-out of the use of your personal information by third parties for direct marketing purposes, we are not required to provide you with the third party list.

%h2
  LINKS TO THIRD PARTY SITES

%p
  The Website may contain links to other sites. Please be aware that Company is not responsible for the privacy practices of such other sites. We encourage our users to be aware when they leave the Website and to read the privacy statements of each and every web site that collects personally identifiable information. This privacy statement applies solely to information collected by the Website.

%h2
  THIRD PARTY ADVERTISING 

%p
  We may use third-party advertising companies and advertising networks to serve ads to you on our behalf when you visit the Website. These companies may use information (not including your name, address, email address, or telephone number) about your visits to the Website and other web sites in order to provide advertisements about goods and services of interest to you.

USE OF IP ADDRESSES

%p
  An IP address is a number that is automatically assigned to your computer by your Internet service provider whenever you log on to the Web. Web servers automatically identify your computer by its IP address, so when a user requests pages from the Website, our servers log the user's IP address. The IP addresses of our users are collected only for the purposes of system administration and to report aggregate information to our advertisers, our corporate affiliates or consultants, or with third parties that perform a particular service on our behalf. We do not combine IP addresses with any personally identifying information, nor do we compile any session activity reports by IP address.

%h1
  USE OF COOKIES

%p
  In cyberspace, cookies are pieces of information that a web site transfers to an individual's hard drive for record-keeping purposes.

%p
  Cookies make Web surfing easier for you by saving your passwords, purchases and preferences while you're online. The use of cookies is an industry standard. You'll find them at most major web sites.
%p
  We also use cookies to help us see which areas are popular and which are not. This helps us to target ads based on user interests, and also improve and update the Website based on such data as total number of users and pages viewed. This information is most easily tracked with cookies.
%p
  A cookie allows us to store the personal preferences that you set during each visit to each of the Website, which in turn allows us to speed up your future activities at the Website. Letting cookies do the record keeping saves you the trouble of entering information over and over again. If you have registered and created an account on the Website, an identifying cookie will be placed on your computer. During future visits to the Website, we will only read and retrieve information that we set in a cookie during an earlier visit to the Website.
%p
  You may occasionally get cookies from our advertisers on the Website, as well. Company does not control these cookies, and they are not subject to our Privacy Policy. Advertisers do not have access to the Website’s cookies. The use of advertising cookies sent by third-party servers is standard in the Internet industry.
%p
  Most browsers are initially set to accept cookies. If you'd prefer, you can set yours to refuse cookies or to alert you when cookies are being sent. However, it is possible that some parts of the Website will not function properly if you do so.

%h2
  CONTACT
%p
  If you have any questions or concerns about our Privacy Policy or its implementation, you may contact us at admin@splash.fm or 1126 River Rd, New Windsor, NY 12553.
