.terms
  %h1
    SPLASH.FM Terms of Use

  %p
    Welcome to the Splash.FM website located at
    = link_to "www.splash.fm", root_url
    , its affiliate sites, subdomains, mobile versions, and any associated applications (collectively, the “Website”), operated by Splash.FM, LLC and its affiliates (collectively, “us”, “we” or “Company”). By accessing or using the Website, you (“you” or “User”) signify that you have read, understand and agree to be bound by these Terms of Use (“Terms of Use” or “Agreement”).

  %p
    Please read this Agreement carefully. This Agreement sets out the legally binding terms of your use of the Website. Your use of the Website constitutes your understanding, acceptance and agreement to these Terms of Use. We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these Terms of Use or the Privacy Policy at any time. Such revisions are effective immediately after we give notice thereof, which we may do by revising the “Date of Last Revision” date of these Terms of Use or by otherwise posting on the Website, or by email or conventional mail, and/or by any other means which provides reasonable notice. Your continued use of the Website after any such changes constitutes your acceptance of the new Terms of Use. This Agreement includes and incorporates the Privacy Policy located at [link to Privacy Policy].
  %p
    If you do not agree to abide by these or any future Terms of Use, do not use or access (or continue to use or access) the Website. It is your responsibility to regularly check the Website to determine if there have been changes to these Terms of Use and to review such changes. You agree that Company shall not be liable to you for any delay or other damages that might result from any changes to the Terms of Use, if any.
  %p
    We reserve the right, in our sole discretion, to deny, restrict, suspend, or terminate your access to all or any part of the Website at any time, for any or no reason, with or without prior notice or explanation, and without liability. We expressly reserve the right to remove your profile, account and/or other information and/or deny, restrict, suspend, or terminate your access to all or any part of the Website if we determine, in our sole discretion, that you have violated this Agreement or pose a threat to the Website and/or its Users.

  %h2
    1. Eligibility

  %p
    Use of the Website is void where prohibited. You must be a natural person at least 18 years old or otherwise have the express consent of your parents or legal guardians, but in no event younger than 13 years old, to use the Website. By agreeing to these terms or by using the Website, you represent and warrant that you have the right, authority and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement. Certain components of the Website may require each User seeking to use its services to register and create accounts for validation. Company reserves the right to decline its services to any User for any reason and without explanation based upon its findings in validating the User’s registration.

  %h2
    2. Term

  %p
    This Agreement, and any posted revision to this Agreement, shall remain in full force and effect while you use the Website. For those components of the Website that require registration, you may terminate your account at any time, for any reason, by following the instructions on the Website. We may terminate your account at any time, for any or no reason, with or without prior notice or explanation, and without liability. Upon such termination, you must immediately discontinue use of the applicable component of the Website, and Company shall in no way be responsible to you for such termination. Even after your account is terminated, this Agreement will remain in effect.

  %h2
    3. Registration Information

  %p
    In consideration of their use of services provided on the Website, Users agree to (a) provide accurate, current and complete information as prompted by any registration forms on the Website ("Registration Information"); (b) maintain and promptly update the Registration Information, and any other information provided to us, to keep it accurate, current and complete; (c) maintain the security of their password and identification; and (d) be fully responsible for all use of their account and for any actions that take place using their account. Misrepresentation may preclude your use of the Website in the future. You consent to being contacted by Company for purposes of seeking feedback to ensure and evaluate the quality of its services.

  %h2
    4. Proprietary Rights in Site Content; Limited License

  %ul
    %li
      a. All content on the Website, including software applications, designs, text, graphics, pictures, information, and other files and their selection, coordination and arrangement (the "Site Content"), are the proprietary property of Company, its users or its licensors with all rights reserved. No Site Content may be modified, copied, distributed, framed, reproduced, republished, downloaded, scraped, displayed, posted, transmitted, or sold in any form or by any means, in whole or in part, without Company's prior written permission.
    %li
      b. Provided that you are eligible for use of the Website, you are granted a limited license to access and use the Website and the Site Content and to download or print a copy of any portion of the Site Content to which you have properly gained access solely for your non-commercial use, provided that you keep all copyright or other proprietary notices intact. Such license is subject to these Terms of Use and does not permit use of any data mining, robots, scraping or similar data gathering or extraction methods. Except for your own User Content (as defined below), you may not upload or republish Site Content on any Internet, Intranet or Extranet site or incorporate the information in any other database or compilation, and any other use of the Site Content is strictly prohibited. Any use of the Website or the Site Content other than as specifically authorized herein, without the prior written permission of Company, is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws including copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein, nothing in these Terms of Use shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time without notice and with or without cause.

  %h2
    5. User Content

  %p
    Company does not claim any ownership rights in any works of authorship, images, photos, sounds, musical works, video, files, documents, applications, or any other materials that you submit to the Website (“User Content”). After directly sending (“submitting”) your User Content to the Website, you continue to retain any ownership rights that you may have in your User Content, subject to the limited license below. By submitting any User Content on or through the Website, you hereby grant to Company a limited license to use, modify, delete from, add to, publicly perform, publicly display, reproduce, and distribute such User Content on or through the Website, including without limitation distributing part or all of the Website in any media formats and through any media channels solely for the purposes set forth in these Terms of Use.

  %ul
    %li
      a. The license you grant to Company is non-exclusive (meaning you are free to license User Content to anyone else), fully-paid and royalty-free (meaning that Company is not required to pay you for the use on the Website of the User Content that you post), sublicensable (so that Company is able to use its affiliates, subcontractors and other partners such as Internet content delivery networks and wireless carriers to provide the Website’s services), perpetual and worldwide (because the Internet and the Website’s services are global in reach).

    %li
      b. You represent and warrant that: (i) you own the User Content submitted by you on or through the Website or otherwise have the right to grant the license set forth in this Section 5, and (ii) submission of User Content on or through the Website does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. You agree to pay for all royalties, fees, and any other monies owing any person or entity by reason of any User Content submitted by you on or through the Website.

    %li
      c. The Website performs technical functions necessary to offer the services on the Website, including but not limited to transcoding and/or reformatting content to allow its use throughout the Website.

    %li
      d. Company may reject, refuse to post or delete any User Content for any or no reason, including User Content that in the sole judgment of Company violates this Agreement or which may be offensive, illegal or violate the rights of any person or entity, or harm or threaten the safety of any person or entity. Company assumes no responsibility for monitoring the Website for inappropriate User Content or conduct. If at any time Company chooses, in its sole discretion, to monitor the Website, Company nonetheless assumes no responsibility for User Content, no obligation to modify or remove any inappropriate User Content, and no responsibility for the conduct of the User submitting any such User Content.

    %li
      e. You are solely responsible for the User Content that you submit to the Website.

  %h2
    6. Prohibited Content/Activity

  %p
    The following are examples of the kind of content that is illegal or prohibited to submit to the Website. We reserve the right to investigate and take appropriate legal action against anyone who, in our sole discretion, violates this provision, including without limitation, removing the offending content from the Website and terminating the account of such violators. Prohibited content includes, but is not limited to, content that, in the sole discretion of Company:

  %ul
    %li
      a. is patently offensive and promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;
    %li
      b. harasses or advocates harassment of another person;
    %li
      c. exploits people in a sexual or violent manner;
    %li
      d. contains nudity, excessive violence, or offensive subject matter or contains a link to an adult website;
    %li
      e. solicits personal information;
    %li
      f. publicly posts information that poses or creates a privacy or security risk to any person;
    %li
      g. constitutes or promotes information that you know is false or misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;
    %li
      h. constitutes or promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacturer-installed copy-protect devices, or providing pirated music or links to pirated music files;
    %li
      i. involves the transmission of "junk mail," "chain letters," or unsolicited mass mailing, instant messaging, "spimming," or "spamming";
    %li
      j. contains restricted or password only access pages or hidden pages or images (those not linked to or from another accessible page);
    %li
      k. furthers or promotes any criminal activity or enterprise or provides instructional information about illegal activities including, but not limited to making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses;
    %li
      l. solicits passwords or personal identifying information for commercial or unlawful purposes from other Users;
    %li
      m. involves commercial activities and/or sales without prior written consent from Company such as contests, sweepstakes, barter, advertising, or pyramid schemes;
    %li
      n. violates the privacy rights, publicity rights, copyrights, trademark rights, contract rights or any other rights of any person.

  %p
    The following are examples of the kind of activity that is illegal or prohibited on the Website. We reserve the right to investigate and take appropriate legal action against anyone who, in our sole discretion, violates this provision, including without limitation, reporting you to law enforcement authorities. Prohibited activity includes, but is not limited to:
  %ul
    %li
      i. criminal or tortious activity, including child pornography, fraud, trafficking in obscene material, drug dealing, gambling, harassment, stalking, spamming, spimming, sending of viruses or other harmful files, copyright infringement, patent infringement, or theft of trade secrets;
    %li
      ii. advertising to, or solicitation of, any User, without the written consent of Company to buy or sell any products or services through the unauthorized or impermissible use of the Website;
    %li
      iii. circumventing or modifying, attempting to circumvent or modify, or encouraging or assisting any other person in circumventing or modifying any security technology or software that is part of the Website;
    %li
      iv. activity that involves the use of viruses, bots, worms, or any other computer code, files or programs that interrupt, destroy or limit the functionality of any computer software or hardware, or otherwise permit the unauthorized use of or access to a computer or a computer network;
    %li
      v. covering or obscuring the banner advertisements on any page on the Website via HTML/CSS or any other means;
    %li
      vi. any automated use of the system, such as, but not limited to, using scripts to submit information or send comments or messages;
    %li
      vii. interfering with, disrupting, or creating an undue burden on the Website or the networks or services connected to the Website;
    %li
      viii. impersonating or attempting to impersonate another User, person or entity;
    %li
      ix. using the account, username, or password of another User at any time or disclosing your password to any third party or permitting any third party to access your account;
    %li
      x. selling or otherwise transferring your account;
    %li
      xi. using any information obtained from the Website in order to harass, abuse, or harm another person or entity, or attempting to do the same;
    %li
      xii. accepting payment or anything of value from a third person in exchange for your performing any commercial activity through the unauthorized or impermissible use of the Website on behalf of that person; or
    %li
      xiii. using the Website in a manner inconsistent with any and all applicable laws and regulations.

  %h2
    7. Copyright Policy

  %p
    Company has a policy of responding to notices of alleged infringement on the Website that comply with the Digital Millennium Copyright Act (DMCA), which may include removing material claimed to be the subject of infringing activity. If Company removes material to comply with the DMCA (“Removed Content”), we will attempt to contact the provider of such Removed Content to enable them to make a counter notification pursuant to sections 512(g)(2) and (3) of that DMCA. Please note that you will be liable for damages (including costs and attorneys' fees) if you materially misrepresent that a product or activity is infringing your copyrights. We will terminate the accounts of any Users and/or block access to the Website of any Users who repeatedly infringe the copyrights of others.
  %p
    Digital Millennium Copyright Act (DMCA) - Infringement Notification

  %p
    To file a notice of infringement, you must provide us with a written notice that includes each of the following items:

  %ol
    %li Detailed identification of the copyrighted work that you believe has been infringed.
    %li Detailed identification of the material you claim infringes this copyrighted work.
    %li Information reasonably sufficient to permit us to contact you (e-mail address is preferred).
    %li The statement: "I have a good faith belief that use of the copyrighted materials described above on the allegedly infringing web pages is not authorized by the copyright owner, its agent, or the law. I swear, under penalty of perjury, that the information in the notification is accurate and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."
    %li Your signature.

  %p
    Send the Infringement Notification to the following address:

  %p
    By email:
    %b
      report@splash.fm

  %p
    By mail:
    %br
    %b
      Splash.FM
      %br
      1126 River Rd
      %br
      New Windsor, NY 12553

  %p
    Digital Millennium Copyright Act (DMCA) - Counter Notification

  %p
    The provider of Removed Content may make a counter notification pursuant to sections 512(g)(2) and (3) of the Digital Millennium Copyright Act. When we receive a counter notification, we will reinstate the Removed Content. Please note that you will be liable for damages (including costs and attorneys' fees) if you materially misrepresent that a product or activity is not infringing the copyrights of others.

  %p
    To file a counter notification, you must provide us with a written notice that includes each of the following items:
  %p
    Detailed identification of the material Company has removed.
  %p
    Your name, address, telephone number, e-mail address, and a statement that you consent to the jurisdiction of Federal District Court for the judicial district in which your address is located (or New York, New York if your address is outside of the United States), and that you will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person.

  %p
    The statement: "I swear, under penalty of perjury, that I have a good faith belief that each search result or message identified above was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled."

  %p
    Your signature.

  %p
    Send the Counter Notification to the following address:

  %p
    By email:
    %b
      report@splash.fm

  %p
    By mail:
    %br
    %b
      Splash.FM
      %br
      1126 River Rd
      %br
      New Windsor, NY 12553

  %h2
    8. Disclaimers

  %ul
    %li
      a. We are not responsible for any User Content or any other third party content submitted to the Website, whether made or caused by Users or by any of the software, equipment or programming associated with or utilized in the operation of the Website.

    %li
      b. WE ARE NOT RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE WEBSITE. UNDER NO CIRCUMSTANCES WILL WE BE RESPONSIBLE FOR ANY LOSS, LIABILITY OR DAMAGE, INCLUDING PERSONAL INJURY OR DEATH OR PROPERY DAMAGE, RESULTING FROM OR ARISING OUT OF ANYONE'S USE OF THE WEBSITE, ANY CONTENT SUBMITTED TO THE WEBSITE OR TRANSMITTED TO USERS OR ANY INTERACTIONS BETWEEN OR AMONG USERS OF THE WEBSITE, WHETHER ONLINE OR OFFLINE.

    %li
      c. We assume no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to or alteration of User communications. We are not responsible for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet or at any website or combination thereof. We are not responsible for any injury or damage to any computer equipment belonging to any user of the Website, any User or any other person related to or resulting from use of the Website, viewing, playing or downloading any materials on or from the Website. The Website are provided "AS IS" and, except as otherwise prohibited by applicable law, we expressly disclaim any warranty of any kind, including but not limited to warranties of merchantability, fitness for a particular purpose and non-infringement. We cannot guarantee and do not promise any specific results from use of the Website. No advice or information, whether oral or written, obtained by you from us or from or through the Website shall create any warranty not expressly stated herein.

  %h2
    9. Limitation on Liability

  %p
    Notwithstanding any other provision of this Agreement, our entire liability to you for any cause whatsoever, regardless of the form of the action, will at all times be limited to the amount paid, if any, by you to us for your use of the Website during the term of this Agreement. Except in jurisdictions where such provisions are restricted, in no event will we be liable to you or any third person for any indirect, consequential, exemplary, incidental, special or punitive damages, including lost profits arising from your use of the Website, even if we have been advised of the possibility of such damages. Those who choose to access the Website do so on their own initiative and at their own risk, and are responsible for complying with all local laws, rules and regulations.

  %h2
    10. Disputes
  %p
    If there is any dispute between you and us about or involving the Website, by using the Website, you agree that the dispute exclusively shall be governed by the laws of the State of New York without regard to its conflict of law provisions. The state and federal courts located in New York County, New York shall have exclusive jurisdiction for the resolution of any such dispute.

  %h2
    11. Indemnity
  %p
    You agree to indemnify and hold Company and its subsidiaries, affiliates, officers, directors, members, managers, agents, representatives, employees and corporate or other partners harmless from any loss, liability, claim or demand, including reasonable attorneys' fees, arising out of or relating to: (a) your use of the Website (including the submission by you of any User Content) in violation of this Agreement, (b) any other breach of this Agreement by you, (c) any breach of your representations and warranties set forth above, or (d) your violation of any law or the rights of a third party.

  %h2
    12. No Agency
  %p
    There is no agency, partnership, joint venture, employee-employer or franchisor-franchisee relationship between you and us or between us and any other User of the Website.

  %h2
    13. Miscellaneous
  %p
    This Agreement, together with our Privacy Policy, and any notices regarding the Website sent to you or posted on the Website, all of which are incorporated herein by this reference, contains the entire agreement between you and us regarding the use of the Website. Our failure to exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right or provision. If any provision of this Agreement is held invalid or unlawful, the remainder of this Agreement shall continue in full force and effect unless such deletion materially frustrates the intent of the parties, in which case this Agreement will terminate.

  %h2
    14. Contact Information
  %p
    If you have any questions or concerns about these Terms of Use or if you need further assistance with respect to access to or use of the Website, you may contact our Customer Service department as indicated below. We will attempt to respond to your questions or concerns promptly after we receive them.

  %p
    E-mail:
    %b
      support@splash.fm
  %p
    Mailing address:
    %br
    %b
      1126 River Rd
      %br
      New Windsor, NY 12553
  %p
    Telephone:
    %b
      914-523-1493
