%div.events_wrapper{:data => {:widget => 'events', :base_url => base_url}}
  .filter_wrapper
    %span.label
      filter feed
    .search_wrapper
      = text_field_tag :q, '', :'data-widget' => 'events-filter'
    .clear
  %div{:data => {:widget => 'event-update-counter'}}
    = link_to '', base_url, :remote => true, :'data-type' => 'html'

  = render_event_list