%div.events_wrapper{:data => {:widget => 'events', :refresh_url => refresh_url}}
  .filter_wrapper
    %span.label
      filter feed
    .search_wrapper
      = text_field_tag :q, '', :'data-widget' => 'events-filter'
    .clear
  = render "events/list", :events => events