%script#tmpl-event-relationship{:type => 'text/x-jquery-tmpl'}
  %ul
    %li
      %img{:alt => "", :height => "31", :src => "/css/images/ico-new-friend.png", :width => "36"}/
      %p
        %a{:href => "${follower.url}"} ${follower.name}
        is now following
        %a{:href => "${followed.url}"} ${followed.name}
