%script#tmpl-event-splash{:type => 'text/x-jquery-tmpl'}
  %div{:class => '{{if expanded}}expanded{{/if}} {{if track.splashable}}splashable{{else}}unsplashable{{/if}}', |
      :data  => {:widget   => 'splash', |
                 :track_id => '${track.id}'}}
    %a.art.left{:href => "${track.preview_url}", :data => {:widget => 'play'}}
      %img{:alt => "", :height => "71", :src => "${track.artwork_url}", :width => "71"}/
      %span
    .entry.left
      {{if user}}
      %p.names
        %a.avan-bold{:href => "${user.url}"} ${user.nickname}
        %span ${user.name}
      {{/if}}
      %p.songname.avan-demi
        %a{:href => "#", :data => {:widget => 'expand'}} ${track.title}
      %p.songauthor ${track.performers}
      %ul.meta
        %li.download
          {{if track.purchase_url}}
          %a{:href => "${track.purchase_url}",
             :target => '_blank',
             :'data-widget' => 'purchase',
             :'data-skip-pjax' => true} Purchase track
          {{else}}
          %a{:href => "/undiscovered_tracks/${track.id}/download", :'data-skip-pjax' => true} Download track
          {{/if}}
        %li.comment-link
          %span &bull;
          %a{:href => "#", :data => {:widget => 'comments-count'}} ${comment_count}
        %li.time ${created_at}
    .cl &nbsp;
    {{if user}}
    %a.splash-btn{:href => "#", :data => {:widget => 'splash-action'}}
    {{/if}}
    .numbers
      .the_splash_count ${track.splash_count}
    {{if ! user}}
    %div{:data => {:widget => 'full-splash-action'}}
      %a.icon.right.splash-btn{:href => "#", :data => {:widget => 'toggle-splash'}}
      %form.commentForm{:action => '#'}
        .inner
          = render 'shared/comment_area'
          .right
            %input.submit.buttonStyle2{:type => 'submit', :value => 'Comment and Splash'}
          .clear
    {{/if}}
    {{if expanded}}
    .container{:data => {:widget => 'more-info'}}
      .graph.left.comingSoon
        %img{:alt => "", :height => "178", :src => "/css/images/graph.png", :width => "211"}/
        %a.arrow.arrow-prev{:href => "#"}
        %a.arrow.arrow-next{:href => "#"}
        %span.overlay
        %span.red-arrow
        %span.date Wed, 10/05/11
        %span.count.avan-demi Splashes = 1,623
        %ul.labels.avan-demi
          %li 2k
          %li 1.5k
          %li 1k
          %li .5k
          %li.last 0
      / /graph
      .aside.left
        %a.share-btn.avan-bold.right{:href => "#"} Share
        .share_pane
          .inner
            .social_link.facebook.left
              <iframe src="//www.facebook.com/plugins/like.php?href=${track.preview_url}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
            .social_link.twitter.left{:data => {:widget => 'social-site-post', :id => "${id}", :site => 'twitter'}}
              = image_tag 'https://si0.twimg.com/a/1321466386/images/goodies/tweetn.png'
          .arrow
        %a.report-song.right{:data => {:widget => 'flag'}} Report song
        {{if user}}
        %p.author
          %em Splashed by
          %a.avan-bold{:href => "${user.url}"} ${user.nickname}
        {{/if}}
        .cl &nbsp;
        %span.comments-module-t
        .scroll-area
          %ul{:data => {:widget => 'comments'}}
      / /aside
      .write-comment
        %form{:action => "#", :method => "post", :data => {:widget => 'comment-box'}}
          %input{:type => "text", :placeholder => "Write a comment..."}/
    {{/if}}
    / /container
  / /row
