common: &common
  aws:
    access_key_id: xxx
    secret_access_key: xxx
    bucket: bucket-name
  braintree:
    environment: sandbox
    merchant_id: merchant_id
    public_key:  public_key
    private_key: private_key
  email:
    flag: report@splash.fm
  google: google_api_key
  http_auth:
    username: u
    password: p
  preferred_host: localhost
  preview_host: splash.fm
  sendgrid:
    username: foo
    password: bar
  ssl_required: false
  google_analytics: UA-XXXXX-X
  dev_mailto: dev@mojotech.com
  noreply_address: donotreply@splashfm.com
  apple_epf:
    username: user
    password: pass
  facebook:
    key:
    secret:
    namespace:
  twitter:
    key:
    secret:
  redis:
    host: localhost
    port: 6379
  mailchimp:
    token:
    list_id:

development:
  <<: *common

test:
  <<: *common

test_pg:
  <<: *common

production:
  <<: *common
