common: &common
  braintree:
    environment: sandbox
    merchant_id: merchant_id
    public_key:  public_key
    private_key: private_key
  google: google_api_key
  http_auth:
    username: u
    password: p
  preferred_host: localhost
  sendgrid:
    username: foo
    password: bar
  ssl_required: false
  google_analytics: UA-XXXXX-X
  dev_mailto: dev@mojotech.com
  apple_epf:
    username: user
    password: pass

development:
  <<: *common

test:
  <<: *common

production:
  <<: *common

