development:
  adapter: postgresql
  database: splash_development
  username: root
  password:
test:
  adapter: sqlite3
  encoding: utf8
  database: scaphandrier_test
test_pg:
  adapter: postgresql
  database: splash_test
  username: root
  password:
