- klass = collection.first.class.name.underscore.pluralize

%ul{:class => klass}= render_search_results(collection)

- unless collection.empty? || collection.length < per_page
  %p= link_to t('.see_more'),
              expand_search_path(:page => page, :f => f, :type => type),
              :remote => true,
              :'data-type' => 'html',
              :'data-widget' => 'next-page'
