.head-search
  +single-transition(width, 0.3s, ease-in-out)
  width: 200px
  height: 30px
  background: #f5f5f5
  color: #999
  position: relative
  margin: 11px 80px 0 0
  border-radius: 6px
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75) inset, 0 1px 0 rgba(180, 220, 225, 0.2)

  .dd
    display: none
    margin-left: -100px
    width: 550px
    top: 32px
    border-radius: 7px

    .col
      width: 100%

    .jspVerticalBar
      width: 9px
    .single_user_result
      margin-bottom: 10px
      .search-follow
        border-radius: 6px
        margin-top: 31px
        height: 9px
        min-width: 40px
        width: 70px
        line-height: 9px
        text-shadow: 0px 1px 0px black
        text-transform: capitalize !important
        span
          margin-top: -3px
        a
          display: block
          color: #fff
          &:hover
            color: #000
      .number
        color: #34c3f2
        font-size: 24px
        position: relative
        top: -4px
        display: inline-block
        margin-top: 5px
        .outer
          color: #3883a8
          position: relative
        .inner
          position: absolute
          top: 0px
          overflow: hidden
          height: 15px
          height: 19px
          color: #34C3F2

  .loading
    margin-top: 0px
  .search
    display: block
    width: 19px
    height: 18px
    background: url(/css/images/head-search-submit.png) no-repeat 0 0
    border: 0
    cursor: pointer
    font-size: 0
    line-height: 0
    position: absolute
    top: 7px
    left: 7px
  .field
    +box-sizing(border-box)
    border: 0
    background: none
    height: 30px
    display: block
    padding: 7px 0 8px 30px
    width: 180px
  &.opened
    +single-transition(width, 0.3s, ease-in-out)
    background: #fff
    width: 235px
    .submit
      right: auto
      left: 7px
    .field
      padding: 8px 6px 7px 32px
      width: 235px
      +box-sizing(border-box)
  ul
    list-style: none outside none
  .splashers
    list
      position: relative
      overflow: hidden
      padding-bottom: 17px
    .thumb
      width: 50px
      height: 50px
    .info
      width: 133px
      padding: 0 0 0 7px
      a
        display: block
        font-size: 14px
        color: #252525
      small
        display: block
        font-size: 10px
        color: #788d99
      span
        display: block
        font-size: 20px
        line-height: 1.1
        color: #5092cc
.main-search, .main-panel
  padding: 5px 20px 0
  position: relative
  z-index: 100

  .drop-down-panel
    width: 589px
    padding-top: 8px
    top: 48px
    border-radius: 0 0 7px 7px

  label
    font-size: 24px
    color: #2D4C6A
    display: block
    line-height: 1
    padding-bottom: 12px
    margin-left: 5px
    margin-top: 10px
    margin-bottom: 10px
    display: none
  .wrap
    width: 591px
    height: 50px
    position: relative
    background: url(/css/images/main-search-bg.png) repeat-x 0 0
    padding: 2px
    border-radius: 7px
    z-index: 1
    margin-top: 5px
  .field
    background: #e0e0e0
    border: 0
    display: block
    border-radius: 5px
    height: 38px
    padding: 6px 10px
    width: 571px
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25) inset
    z-index: 11
    position: relative
    font-size: 18px
    &:focus, &.loading
      font-size: 18px
      background: #fff
      color: #426c95

    &.loading
      background: url("/css/images/loading-spinner.gif") no-repeat scroll 550px 10px #fff
      margin-top: 0

.head-search, .main-search
  .dd
    @extend .drop-down-panel

  .drop-down-panel
    ul
      list-style: none outside none
    li
      position: relative
      overflow: hidden
      background: url(/css/images/main-search-dd-divider.png) no-repeat center bottom
      padding-bottom: 3px
    .art
      width: 71px
      height: 71px
      position: relative
      span
        position: absolute
        width: 25px
        height: 28px
        background: url(/css/images/ico-play.png) no-repeat 0 0
        top: 23px
        left: 23px
        display: none
      &:hover span
        display: block
    .info
      width: 280px
      padding: 2px 0 0 18px
    .songname
      display: block
      font-size: 15px
      color: #252525
    .songauthor
      display: block
      color: #788d99
      font-size: 13px
    .icon
      width: 51px
      height: 51px
      background: url(/css/images/feed-splash-btn.png) no-repeat 0 0
      margin-top: 2px
    li
      &:hover .holder
        background: #e0edf7
      &:active .holder
        box-shadow: 1px 1px 3px #ababab inset
    h4
      padding: 0 14px

    .col:first-of-type
      h4:first-of-type
        border-radius: 7px 7px 0px 0px

    .controls, h4
      background: #e4e4e4
      height: 30px
      position: relative
      color: #788d99
      font-size: 13px
      line-height: 30px

    .controls
      border-radius: 0 0 6px 6px

      .view-all
        display: block
        height: 30px
        text-align: center
        vertical-align: middle

    p.controls
      border-radius: 0
      font-size: 12px
      background: #fff

      .view-all
        display: block
        height: 20px
        text-align: center
        vertical-align: top

.top_search_results, .head-search ul.tracks
  li
    .splash-action
      a
        width: 51px
    &:hover
      a.art
        span
          display: block !important
      .splashable .splash-action
        span
          display: inline
  .art
    border: solid 1px #CCC
    img
      width: 71px !important
      height: 71px !important
  .splash-action
    @extend .right
    width: 51px
    position: relative
    top: 9px
    right: -5px
    text-align: center
    span
      display: none

.main-search
  li:last-of-type
    background: none

.main-search, .head-search
  .meta
    margin-top: 23px
