.uploadForm
  @extend .drop-down-panel

  input
    @extend .customInputStyle
    width: 360px

.head-search
  &.uploading
    @extend .opened

    background: url("/css/images/upload_progress.png") #FFFFFF no-repeat -625px 0px

    .search
      display: none

    .field
      background: none
      color: #000
      text-shadow: 0px 1px 0px #FFF
      padding-left: 8px
      text-align: center

  .uploadForm
    margin-left: -100px
    width: 500px

  .toggle-upload
    @extend .avan-bold
    font-size: 12px
    position: absolute
    right: -60px
    top: 8px

.main-search
  .upload
    width: 95px
    height: 18px
    background: url(/css/images/upload-btn.png) no-repeat 0 -28px
    text-align: right
    color: #fff
    font-style: italic
    font-size: 11px
    font-family: georgia
    padding: 10px 7px 0 0
    position: relative
    margin: -7px 7px 0 0
    z-index: 0
    &:hover
      background-position: 0 bottom
      text-decoration: none
    &.disabled
      background: url(/css/images/upload-btn.png) no-repeat 0 0

  &.uploading .field
    background: url("/css/images/upload_progress.png") #FFFFFF no-repeat -625px 0px
    color: #000
    text-shadow: 0px 1px 0px #FFF
    text-align: center
    font-size: 20px
